<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Tea Leaf Disease Identification</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
   
    
</head>
<body>
    <header class="container jumbotron" >Tea Leaf Disease Identification using Machine learning</header>
    <footer class="container">Developed by<a href="www.github.com/BrianBravoski"> Brian Kemboi</a></footer>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>